/Teoria/EjercicioVoid/nbproject/private/
/Teoria/EjercicioVoid/build/
/Practico/Ejercicios_1_Practico_Guia8/nbproject/private/
/Practico/Ejercicios_5_Guia9/nbproject/private/
/Practico/Ejercicios_1_Practico_Guia8/build/
/Practico/Ejercicios_2_Practico_Guia8/build/
/Practico/Ejercicios_3_Practico_guia8/build/
/Practico/Ejercicios_3_Practico_guia8/dist/
/Extras/Ejercicios_1_PracticoExtra_Guia8/build/
/Extras/ejercicios_2_practicoextra_guia8/build/
/Extras/Ejercicios_3_PracticoExtra_guia8/build/